<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>Электронная библиотека</title>
    <link rel="icon" type="image/png" href="../static/lg.png" sizes="16x16">
    <!-- <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"> -->
  </head>
  <body>
    <div class="container">
      <nav class="mx-auto" style="width: 200px; margin-top: 20px;" aria-label="Page navigation example">
        <ul class="pagination">
          {% if current_page > 1 %}
            <li class="page-item"><a class="page-link" href="../pages/index{{current_page-1}}.html">Предыдущая</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link" href="../pages/index{{current_page}}.html">Предыдущая</a></li>
          {% endif %}
          {% for page in range(1, total_pages+1) %}
            {% if page == current_page %}
              <li class="page-item active"><a class="page-link" href="../pages/index{{page}}.html">{{page}}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="../pages/index{{page}}.html">{{page}}</a></li>
            {% endif %}
          {% endfor %}
          {% if current_page < total_pages %}
            <li class="page-item"><a class="page-link" href="../pages/index{{current_page+1}}.html">Следующая</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link" href="../pages/index{{current_page}}.html">Следующая</a></li>
          {% endif %}
        </ul>
      </nav>
      <div class="row">
        {% for book_descriptions_per_row in book_description_per_row_chunks %}
          {% for book_description in book_descriptions_per_row %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../{{book_description.img_src|url_encode}}" class="card-img" alt="{{book_description.title}}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="../media/{{book_description.book_path|url_encode}}.txt" target="_blank">{{book_description.title}}</a></h5>
                      <p class="card-text">{{book_description.author}}</p>
                      {% for genre in book_description.genres %}
                        <p class="card-text badge badge-secondary">{{genre}}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="w-100"></div>
        {% endfor %}
      </div>
    </div>
    <script src="../static/js/jquery-3.6.4.slim.min"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>